{{>header.html}}
<h2>Elsewhere</h2>
<p>
  The web's a big place, if you hadn't noticed. I frequent several corners:
</p>
<ul class="dotted">
  <li>Concise updates concerning Reading Football Club, Javascript &amp; node.js, pithy observations and the like, on <a href="/twitter">Twitter as @shakefon</a> (seriously though, if you don't want to hear about Reading FC... perhaps worth giving this one a miss).</li>
  <li>Day to day updates and sarcasm-laden commentary on <a href="/facebook">Facebook</a> - though if we haven't met in person, I generally won't accept your friend request due to the personal information held within.</li>
  <li>Code on <a href="/github">Github as shakefon</a> with gradually increasing frequency (probably).</li>
  <li>Sites I want to remember on <a href="/delicious">delicious</a></li>
  <li>Photos via <a href="/flickr">Flickr</a> from time to time though I rarely remember to take pictures.</li>
  <li>Stuff I'm listening to on <a href="/lastfm">Last.fm</a> whenever I get round to syncing my iPhone and scrobbling.</li>
  <li>Boring details of where I've worked and what I did at <a href="/linkedin">Linked in</a>.</li>
  <li>Healthy banter and football (soccer) chat at <a href="http://bantr.tv/profile/4e3bfdf09e143c6bd5000132">Bantr</a>.</li>
  <li><a href="http://sizeboard.com">sizeboard</a> - A message board for one of the greatest (and now sadly defunct) bands ever to walk this earth - Oceansize - which I set up in 2003 and have run ever since.</li>  
  <li>Gladly listed on <a href="http://www.planetnodejs.com">Planet node.js</a> - a collection of folks writing about node.js</li>
</ul>  
{{>footer.html}}