  </div>
  <footer>
    <!-- need to microformat this, I know.. -->
    <div>
      <span>Dave Stevens, Las Vegas <acronym title="Nevada">NV</acronym> USA</span>
      <span><a href="mailto:dave@davestevens.us">dave@davestevens.us</a></span>
      <span>Cell: +1 (702) 482-7327</span>
      <span>Twitter: <a href="http://twitter.com/shakefon">@shakefon</a></span>
    </div>
    {{#promotejs}}
    <div id="promotejs">
      <a href="{{href}}"><img src="http://static.jsconf.us/promotejsh.gif" height="150" width="180" alt="{{alt}}"/></a>
      <a href="http://promotejs.com">Why?</a>
    </div>
    {{/promotejs}}
  </footer>
</body>
</html>