<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/styles/base.css"/>
  {{#stylesheets}}
  <link rel="stylesheet" type="text/css" href="{{stylesheet}}"/>
  {{/stylesheets}}
  <link rel="alternate" type="application/rss+xml" href="http://davestevens.us/feed" title="davestevens.us Articles"/>
  <script type="text/javascript" src="/js/LAB.min.js"></script>
  <script type="text/javascript">
    $LAB
    .script("/js/jquery-1.5.1.min.js").wait()
    .script("/js/sublingual.js")
    .script("/js/html5.js")
    {{#js}}
    .script("{{filename}}"){{#wait}}.wait(){{/wait}}
    {{/js}}
    .wait();
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19442166-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>  
</head>
<body>
  <div id="wrap">
    <div id="sitemast">
      <a href="/"><h1>Dave Stevens <span>(Enthusiast.)</span></h1></a>
      <ul>{{#sections}}<li><a href="{{uri}}" title="{{title}}">{{text}}</a></li>{{/sections}}</ul>
      <div class="clearer"></div>
    </div>